.total{
    width: 100vw;
    
    background: rgb(41, 82, 84);
}
.img{
    max-width:100% ;
    transition: all ease .4s;
    cursor: pointer;
   border-radius: 10px;
}
img:hover{
    transform : scale(1.03);
}

.descripcion h2{
    text-align: center;
    color: aqua;
}
.descripcion p{
    color: rgb(127, 198, 255);
}
.tituloh2 h3{
    color: aqua;
    margin-top: 10px;
}
.descripcion{
    padding-top: 40px ;
   width: 100%;
   
}
.carrusel{
    margin: auto;
    width: 90vw;
  margin-top: 40px; 
  text-align: center; 
  background: rgb(41, 82, 84);
}
.carrusel h2{
    margin-bottom: 20px;
    color: aqua;
}
.imgLe{
    max-width: 40%;
}
@media (min-width: 1024px) {
  .carrusel_items{    
    display: flex;
    justify-content:space-between;
    padding-top: 20px;
    background-color: rgba(143, 142, 142, 0.1);
    color: aqua;
}.carrusel_item{
    width: 100vw; 
    transition: all ease .2s ;
}

.carrusel_item:hover{
    transform: scale(1);
}
}
.carrusel_item{
    padding-bottom:20px;
    
}
.iLink{
    font-size: 3em;
    margin: 10px;
    transition: all ease .2s;
}
.iLink:hover{
    color: aqua;
}