button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .enviado-message {
    margin-top: 10px;
    font-size: 18px;
    color: green;
    text-align: center;
  }